body{
  padding:auto;
  margin: auto;
  min-height: 100%;
}
.sidebar-left{
  display: inline;
  background-color: lightgrey;
  float:left;
  width: 15%;
  height: 100%;
  clear:left;
}
.sidebar-right{
  display: inline;
  background-color: lightgrey;
  width:15%;
  height: 100%;
  float:right;
  clear:right;
}
.header{
  background-color: #335672;
  width: 100%;
  color: white;
  height: 7%;
}
#footer {
  background-color: #335672;
  margin-left: 15%;
  width: 70%;
  height: 5%;
  position: fixed;
  bottom: 0;
}
